#top-bar
{
	color:white;
	text-align:center;
	font-weight:bold;
	font-size:48px;
}
#footer-left
{
	position:absolute;
	left:0px;
	bottom:0px;
	height:40px;
	width:150px;
	font-size:25px;
	background-color:#008800;
	border:3px solid #008800;
}
#footer-right
{
	position:absolute;
	right:0px;
	bottom:0px;
	color:white;
	font-size:12px;
}
#signup_error,#signin_error,label.error
{
	color:red;
	font-weight:bold;
}

/*
 *	Constructure home settings 
 */

 
#main
{
	position:absolute;
	top:120px;
	left:210px;
}
.center
{
	position:absolute;
	top:120px;
	left:210px;
}
.white
{
	color:white;
	font-weight:bold;
	font-size:16px;
}
#top-left-header
{
	color:white;
	position:absolute;
	left:0px;
	top:0px;
	font-weight:bold;
	font-size:30px;
}
#top-right-header
{
	color:white;
	position:absolute;
	right:0px;
	top:10px;
	font-weight:bold;
	font-size:16px;	
}
#dashboard-panel
{
	position:absolute;
	top:120px;
	left:0px;
	height:219px;
}
#dashboard
{
	position:absolute;
	width:150px;
	top:120px;
	height:100%;
	left:-150px;
	background-color:#00255f;
}
.hand-cursor
{
	cursor:pointer;
}
#dashboard-elements
{
	
}
.dashboard-element
{

}
#balance-widget
{
	position:absolute;
	right:3px;
	top:120px;
	background-color:black;
	border-radius:3px;
	padding:3px;
}
.red-font
{
	color:red;
	font-weight:bold;
}
.orange
{
	background-color:orange;
}
.yellow
{
	background-color:yellow;
}
.black-font
{
	color:black;
	font-weight:bold;
}
#read_me
{
	background-color:white;
	position:absolute;
	bottom:0px;
	left:0px;
	border-radius:0px;
	padding:3px;
	color:#00255f;
	width:150px;
}
